/TP_1/ProjetTP1/nbproject/private/
/TP_1/ProjetTP1/build/
/TP_1/ProjetTP1/dist/
/TP_1/PriseEnMain/nbproject/private/
/TP_1/PriseEnMain/dist/
/TP_1/PriseEnMain/build/
/TP_1/Projet/nbproject/private/
/TP_1/Projet/build/
/TP_1/Projet/dist/
/TP_2/ProjetTP/nbproject/private/
/TP_2/ProjetTP/build/